@inherits LayoutComponentBase

<div class="bb-page">
    <main>
        <div class="bb-top-row px-4 d-flex justify-content-start align-items-center">
            <Icon Name="IconName.Activity" Size="IconSize.x5"></Icon>
            <h4 class="my-0 px-3">ZeroPoint</h4>
        </div>

        <article class="content px-4 d-flex justify-content-center">
            <div class="py-2 w-100">
                @Body
            </div>
        </article>
    </main>

</div>

<Modal IsServiceModal="true" />
